<main class="container mx-auto mt-4 px-5" style="background-color: #fff; color: #000;">
    <h1>Art Specifications for Texas Embroidery Ranch</h1>
    <b>Vector Artwork preferred.</b>
    <p>JPEG and other bitmap formats may not yield pristine results.</p>
</main>
