<div class="megacontainer prose">
    <h1>Art Specifications for Texas Embroidery Ranch</h1>
    <b>Vector Artwork preferred.</b>
    <p>JPEG and other bitmap formats may not yield pristine results.</p>
</div>
