<h1>Howdy, Y&rsquo;all!</h1>

<h2>Welcome to the Texas Embroidery Ranch!</h2>

<p>We are building a new corral to wrangle these bits and bytes called websites.</p>  

<p>
  In the meantime, you can call us at <a href="tel:+19034824178">(903) 482-4178</a> 
  or email us at <a href="mailto:orders@texasembroideryranch.com">orders@texasembroideryranch.com</a>.
</p>

<p>Thanks for stopping by!</p>

<img src="https://raw.githubusercontent.com/scarver2/howdy-world/main/nginx/www/made-in-texas.png" alt="Made in Texas" />
