<!DOCTYPE html>
<html>
  <head>
	<title>Texas Embroidery Ranch</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="icon" type="image/png" href="/images/favicon-96x96.png?v=202506251123" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg?v=202506251123" />
	<link rel="shortcut icon" href="/favicon.ico?v=202506251123" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=202506251123" />
	<meta name="apple-mobile-web-app-title" content="Texas Embroidery Ranch" />
	<link rel="manifest" href="/images/site.webmanifest?v=202506251123" />

	<link rel="stylesheet" href="styles.css">
	<link rel="stylesheet" href="theme.css">
	<link rel="stylesheet" href="typography.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0JPFQRWZR0"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-0JPFQRWZR0');
	</script>
  <style>
 
  </style>
	</head>
<body class="bg-white dark:bg-gray-800 dark:text-white">
	<%= erb :header %>
  <%= yield %>
	<%= erb :footer %>
</body>
</html>