<!DOCTYPE html>
<html>
  <head>
	<title>Texas Embroidery Ranch</title>
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<link rel="icon" type="image/png" href="/images/favicon-96x96.png?v=202506251123" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/images/favicon.svg?v=202506251123" />
	<link rel="shortcut icon" href="/favicon.ico?v=202506251123" />
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png?v=202506251123" />
	<meta name="apple-mobile-web-app-title" content="Texas Embroidery Ranch" />
	<link rel="manifest" href="/images/site.webmanifest?v=202506251123" />

	<link rel="stylesheet" href="styles.css">
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-0JPFQRWZR0"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-0JPFQRWZR0');
	</script>



  <style>
    body {
      background-color: #19324a;
    }
    .desert {
      min-height:100vh;
      background-image: url(/images/vecteezy_wild-west-modern-minimal-flat-background_.jpg);
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      backgroundattachment: fixed;
    }
    
.main {
  margin: 0 4rem;
}

.main main {
  background-color: white;
  padding: 2rem;
  width: 100%;
}

.main main {
  margin: 0 4rem;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1.1;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 1rem;
    overflow-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-word;
  }

  h1 {
    font-size: 2.35em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }

  p {
    margin-top: 0px;
    margin-bottom: 2.5rem;
  }

  small,
  sub,
  sup {
    font-size: 75%;
  }

  hr {
    border-color: #1d7484;
  }

  a {
    text-decoration: none;
    color: #1d7484;
  }

  a:visited {
    color: #144f5a;
  }

  a:hover {
    color: #982c61;
    border-bottom: 2px solid #4a4a4a;
  }
}
  </style>
	</head>
<body class="bg-white dark:bg-gray-800 dark:text-white">
  <%= yield %>

  <div class="optimus desert" >
    <div>
      <footer class="megafooter ">
        <div class="mfrow  flex">
          <div class="w-1/2">
            <a href="/"><img src="/images/ter-logo-2025a-w.svg?v=202506251123" alt="Texas Embroidery Ranch logo" /></a>
            <p class="text-m mt-3 text-center font-bold">Quality embroidery... <i>FAST!</i></p>
          </div>
          <div class="w-4/12">
            <!-- <p class="hidden">Join our mailing list to receive VIP invitations, coupons, new product announcements, and more! You won't regret it.</p> -->
            <div class="hidden relative lg:flex-row gap-3 flex flex-col md:flex-row items-center justify-between max-[1124px]:max-w-2xl max-[1124px]:mx-auto">
 <!--  <span class="absolute left-5 top-4 lg:top-4 text-terorange-500"><svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M1.25201 4L7.15881 7.89529C9.26862 9.16117 10.3235 9.79412 11.4825 9.76654C12.6416 9.73896 13.6652 9.05656 15.7124 7.69175L20.748 4M9 17H13C16.7712 17 18.6569 17 19.8284 15.8284C21 14.6569 21 12.7712 21 9C21 5.22876 21 3.34315 19.8284 2.17157C18.6569 1 16.7712 1 13 1H9C5.22876 1 3.34315 1 2.17157 2.17157C1 3.34315 1 5.22876 1 9C1 12.7712 1 14.6569 2.17157 15.8284C3.34315 17 5.22876 17 9 17Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"/></svg>
    </span>
	<input type="text" name="email" 
		class="hidden py-3 px-5 pl-14 h-12 border border-gray-300 rounded-full shadow-sm text-gray-900 bg-white focus:outline-none placeholder:text-gray-400 flex-1 w-full"
    placeholder="Enter your mail."/>
  <button type="submit" class="hidden h-12 py-3.5 px-7 text-white font-semibold text-sm bg-terorange-500 shadow-sm rounded-full hover:bg-terorange-500">Subscribe</button> -->
</div>

<div class="text-white flex my-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
</svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
</svg>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
</svg>
<a href="https://www.yelp.com/biz/texas-embroidery-ranch-van-alstyne" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
</svg></a>
<a href="https://www.yelp.com/biz/texas-embroidery-ranch-van-alstyne" target="_blank">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
  <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z" clip-rule="evenodd" />
</svg></a>

    </div>

  <span id="siteseal"><script async type="text/javascript" src="https://seal.starfieldtech.com/getSealBasic?sealID=1JWmxopFnFnxFnaIYSFY047e9rbeAACX3esId476HaqzWUNWeyaVbsDnBYMx"></script></span>

          </div>
        </div>
        <div class="mfrow ">
          <div>
            <div class="md:w-[316px]">
              <div class="mt-[23px] flex">
                <div class="flex h-[38px] w-[38px] items-center justify-center rounded-[75%]">
                        <svg width="18" height="21" viewBox="0 0 18 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M9 4.5C8.25832 4.5 7.5333 4.71993 6.91661 5.13199C6.29993 5.54404 5.81928 6.12971 5.53545 6.81494C5.25162 7.50016 5.17736 8.25416 5.32205 8.98159C5.46675 9.70902 5.8239 10.3772 6.34835 10.9017C6.8728 11.4261 7.54098 11.7833 8.26841 11.9279C8.99584 12.0726 9.74984 11.9984 10.4351 11.7145C11.1203 11.4307 11.706 10.9501 12.118 10.3334C12.5301 9.7167 12.75 8.99168 12.75 8.25C12.75 7.25544 12.3549 6.30161 11.6517 5.59835C10.9484 4.89509 9.99456 4.5 9 4.5ZM9 10.5C8.55499 10.5 8.11998 10.368 7.74997 10.1208C7.37996 9.87357 7.09157 9.52217 6.92127 9.11104C6.75097 8.6999 6.70642 8.2475 6.79323 7.81105C6.88005 7.37459 7.09434 6.97368 7.40901 6.65901C7.72368 6.34434 8.12459 6.13005 8.56105 6.04323C8.9975 5.95642 9.4499 6.00097 9.86104 6.17127C10.2722 6.34157 10.6236 6.62996 10.8708 6.99997C11.118 7.36998 11.25 7.80499 11.25 8.25C11.25 8.84674 11.0129 9.41903 10.591 9.84099C10.169 10.2629 9.59674 10.5 9 10.5ZM9 0C6.81273 0.00248131 4.71575 0.872472 3.16911 2.41911C1.62247 3.96575 0.752481 6.06273 0.75 8.25C0.75 11.1938 2.11031 14.3138 4.6875 17.2734C5.84552 18.6108 7.14886 19.8151 8.57344 20.8641C8.69954 20.9524 8.84978 20.9998 9.00375 20.9998C9.15772 20.9998 9.30796 20.9524 9.43406 20.8641C10.856 19.8147 12.1568 18.6104 13.3125 17.2734C15.8859 14.3138 17.25 11.1938 17.25 8.25C17.2475 6.06273 16.3775 3.96575 14.8309 2.41911C13.2843 0.872472 11.1873 0.00248131 9 0ZM9 19.3125C7.45031 18.0938 2.25 13.6172 2.25 8.25C2.25 6.45979 2.96116 4.7429 4.22703 3.47703C5.4929 2.21116 7.20979 1.5 9 1.5C10.7902 1.5 12.5071 2.21116 13.773 3.47703C15.0388 4.7429 15.75 6.45979 15.75 8.25C15.75 13.6153 10.5497 18.0938 9 19.3125Z" fill="white"></path>
                        </svg>
                      </div>
                      <div class="ml-[18px] font-Inter text-[14px] font-medium text-[#fff]">
                        <a href='https://maps.app.goo.gl/HNWKmu9PRxUDFNy3A'>
                          <a href='https://maps.apple.com/place?address=2014%20Rhymers%20Glen%20Dr,%20Anna,%20TX%20%2075409,%20United%20States&coordinate=33.347226,-96.573480&name=Home&map=explore'>
														2014 Rhymers Glen Dr<br />Anna, TX 75409
													</a>
												</a>
                      </div>
                </div>
	              <div class="mt-[23px] flex">
	                <div class="flex h-[38px] w-[38px] items-center justify-center rounded-[75%]">
	                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
	                          <path d="M20.8472 14.8554L16.4306 12.8764L16.4184 12.8707C16.1892 12.7727 15.939 12.7333 15.6907 12.7562C15.4424 12.7792 15.2037 12.8636 14.9963 13.002C14.9718 13.0181 14.9484 13.0357 14.9259 13.0545L12.6441 14.9998C11.1984 14.2976 9.70595 12.8164 9.00376 11.3895L10.9519 9.07294C10.9706 9.0495 10.9884 9.02606 11.0053 9.00075C11.1407 8.79384 11.2229 8.55667 11.2445 8.31035C11.2661 8.06402 11.2264 7.81618 11.1291 7.58887V7.57762L9.14438 3.15356C9.0157 2.85662 8.79444 2.60926 8.51362 2.44841C8.2328 2.28756 7.9075 2.22184 7.58626 2.26106C6.31592 2.42822 5.14986 3.05209 4.30588 4.01615C3.4619 4.98021 2.99771 6.21852 3.00001 7.49981C3.00001 14.9436 9.05626 20.9998 16.5 20.9998C17.7813 21.0021 19.0196 20.5379 19.9837 19.6939C20.9477 18.85 21.5716 17.6839 21.7388 16.4136C21.7781 16.0924 21.7125 15.7672 21.5518 15.4864C21.3911 15.2056 21.144 14.9843 20.8472 14.8554ZM16.5 19.4998C13.3185 19.4963 10.2682 18.2309 8.01856 15.9813C5.76888 13.7316 4.50348 10.6813 4.50001 7.49981C4.49648 6.58433 4.82631 5.69887 5.42789 5.00879C6.02947 4.3187 6.86167 3.87118 7.76907 3.74981C7.7687 3.75355 7.7687 3.75732 7.76907 3.76106L9.73782 8.16731L7.80001 10.4867C7.78034 10.5093 7.76247 10.5335 7.74657 10.5589C7.60549 10.7754 7.52273 11.0246 7.5063 11.2825C7.48988 11.5404 7.54035 11.7981 7.65282 12.0307C8.5022 13.7679 10.2525 15.5051 12.0084 16.3536C12.2428 16.465 12.502 16.5137 12.7608 16.495C13.0196 16.4762 13.2692 16.3907 13.485 16.2467C13.5091 16.2305 13.5322 16.2129 13.5544 16.1942L15.8334 14.2498L20.2397 16.2232C20.2397 16.2232 20.2472 16.2232 20.25 16.2232C20.1301 17.1319 19.6833 17.9658 18.9931 18.5689C18.3028 19.172 17.4166 19.5029 16.5 19.4998Z" fill="white"></path>
	                        </svg>
	                      </div>
	                      <div class="ml-[18px]">
	                        <a href="tel:+19034824178" class="font-Inter text-[14px] font-medium text-white">(903) 482-4178</a>
													<p class="text-sm italic">schedule an appointment or pickup</p>
	                      </div>
	              </div>
	                <div class="mt-[23px] flex">
	                  <div class="flex h-[38px] w-[38px] items-center justify-center rounded-[75%]">
	                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6">
	                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6h4.5m4.5 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
	                  </svg>
	                  </div>
	                  <div class="ml-[18px] font-Inter text-[14px] font-medium text-[#fff]">
	                    <p>Monday&ndash;Friday<br />
	                      10 AM&ndash;5 PM (1700 hours)</p>
	                  </div>
	                </div>
	                <div class="mt-[23px] flex">
	                  <div class="flex h-[38px] w-[38px] items-center justify-center rounded-[75%]">
	                    <svg width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg">
	                      <path d="M19 0H1C0.801088 0 0.610322 0.0790178 0.46967 0.21967C0.329018 0.360322 0.25 0.551088 0.25 0.75V13.5C0.25 13.8978 0.408035 14.2794 0.68934 14.5607C0.970644 14.842 1.35218 15 1.75 15H18.25C18.6478 15 19.0294 14.842 19.3107 14.5607C19.592 14.2794 19.75 13.8978 19.75 13.5V0.75C19.75 0.551088 19.671 0.360322 19.5303 0.21967C19.3897 0.0790178 19.1989 0 19 0ZM10 7.98281L2.92844 1.5H17.0716L10 7.98281ZM7.25406 7.5L1.75 12.5447V2.45531L7.25406 7.5ZM8.36406 8.51719L9.48906 9.55312C9.62743 9.68014 9.80842 9.75062 9.99625 9.75062C10.1841 9.75062 10.3651 9.68014 10.5034 9.55312L11.6284 8.51719L17.0659 13.5H2.92844L8.36406 8.51719ZM12.7459 7.5L18.25 2.45438V12.5456L12.7459 7.5Z" fill="white"></path>
	                    </svg>
	                  </div>
	                  <div class="ml-[18px]">
											<p class="font-Inter text-[14px] font-medium text-[#fff]">
												<script>
													d = 'texasembroideryranch' + '.com';
													e = 'or' + 'd' + 'ers';
													t = 'Email Us';
													document.write('<a href=\"m' + 'ailto:' + e + '@' + d + '\">');
													document.write(t + '</a>');
												</script>
											</p>
	                  </div>
	                </div>
	            </div>
	          </div>
	<div>
	<h2><a href="/coming-soon.html">Apparel Services</a></h2>
	<ul class="list_of_links">
	  <li><a href="/coming-soon.html">Embroidery</a>
			<ul>
				<li><a href="/colors.html">Colors</a></li>
				<li><a href="/fonts.html">Fonts</a></li>
				<li><a href="/coming-soon.html">Caps</a></li>
				<li><a href="/monograms.html">Monograms</a></li>
				<li><a href="/coming-soon.html">Scrubs</a></li>
			</ul>
		</li>
		<li><a href="/coming-soon.html">DTF</a></li>
		<li><a href="/leather-patches.html">Laser-Etched Leather Patches</a></li>
	</ul>
	<h2><a href="/coming-soon.html">Apparel Catalogs</a></h2>
	<ul class="list_of_links">
		<li><a href="https://www.companycasuals.com/texasembroideryranch" target="_blank">Apparel Catalog</a></li>
		<li><a href="https://www.sportswearcollection.com/texasembroideryranch" target="_blank">Caps &amp; Sportsware Catalog</a></li>
	</ul>
	<!--
  <h2><a href="/coming-soon.html">Printing Services</a></h2>
	<ul class="list_of_links">
		<li><a href="/coming-soon.html">Banners</a></li>
		<li><a href="/coming-soon.html">Signs</a></li>
		<li><a href="/coming-soon.html">Decals & Stickers</a></li>
		<li><a href="/coming-soon.html">Promotional Products (ESP link)</a></li>
	</ul>
	-->
  <h2>Artwork</h2>
  <ul class="list_of_links">
		<li><a href="/artwork-specs.html">Artwork Specifications</a></li>
		<li>
			<!-- <a href="/coming-soon.html">Upload File</a> -->
			<script>
				d = 'texasembroideryranch' + '.com';
				e = 'or' + 'ders';
				t = 'Upload File';
				document.write('<a href=\"m' + 'ailto:' + e + '@' + d + '\">');
				document.write(t + '</a>');
			</script>		
		</li>
	</ul>
</div>	
<div>
	<h2 class="visible"><a href="/coming-soon.html">About TER</a></h2>
	<ul class="list_of_links">
		<li class="list-none font-normal pl-2"><a href="/coming-soon.html">History</a></li>
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Our Cowboys</a></li> -->
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Our Fillies</a></li> -->
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Job Openings</a></li> -->
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Events</a></li> -->
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">FAQ</a></li> -->
		<li class="list-none font-normal pl-2">
			<!-- <a href="/coming-soon.html">Contact Us</a> -->
			<script>
				d = 'texasembroideryranch' + '.com';
				e = 'ord' + 'ers';
				t = 'Contact Us';
				document.write('<a href=\"m' + 'ailto:' + e + '@' + d + '\">');
				document.write(t + '</a>');
			</script>
		</li>
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Wishlist</a></li> -->
		<!-- <li class="list-none font-normal pl-2"><a href="/coming-soon.html">Current Specials</a></li> -->
	</ul>
  </div>
  <div>
	<h2>Legal Stuff</h2>
	<ul class="list_of_links">
		<li><a href="/terms-of-service.html">Terms of Service</a></li>
		<li><a href="/privacy-policy.html">Privacy Policy</a></li>
		<li><a href="/sms-policy.html">SMS Policy</a></li>
		<!-- <li><a href="/coming-soon.html">Refund Policy</a></li> -->
		<!-- <li><a href="/coming-soon.html">Shipping Policy</a></li> -->
	</ul>
</div>
</div>

        <div class="mfrow text-center my-3 px-10 text-sm">
          <%= erb :footer %>
        </div>
        <div class="mfrow text-center my-3 px-10 text-sm icons flex justify-center gap-3">
          <!--a href="/coming-soon.html" target="_blank" title="BBB">
            <img src="https://m.bbb.org/terminuscontent/dist/img/BBB_US_Torch_sm.svg" alt="BBB" />
          </a-->
      
          <a href="https://member.greaterannachamber.com/list/member/texas-embroidery-ranch-4058" target="_blank" title="Greater Anna Chamber of Commerce member">
            <img src="/images/GACC-logo.png" alt="Greater Anna Chamber of Commerce member" />
          </a>
      
          <!--a href="/coming-soon.html" title="ASI member">
            <img src="/images/asi-logo.svg" alt="ASI member" />
          </a-->
            
          <a href="https://www.showmelocal.com/profile.aspx?bid=22853173" target="_blank">
            <img src="https://www.showmelocal.com/showmelocal-member-22853173" alt="Texas Embroidery Ranch,Embroidery Service,Anna,TX" />
          </a>
      
          <a href="https://wesatradeshow.com" target="_blank" title="WESA member">
            <img src="/images/WESA-logo.png" alt="WESA member" />
          </a>
        </div>

        <hr class="mt-[30px] text-white" />

        <div class="mfrow">
          <div>
            <p class="copyright">
            &copy;2018-<%= Time.now.year %>
            <a href="https://www.texasembroideryranch.com">Texas Embroidery Ranch</a>, a <a href="http://www.purecreate.com/" target="_blank">Purecreate</a> company. All rights reserved.  
            </p>
          </div>
        
          <div class="flex justify-center space-x-2 my-2"><!-- a class="" href="https://www.whatsapp.com/channel/0029Vazg2DmHQbSA9JC93C1j"><svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 448 512" class="text-2xl text-white " height="1em" width="1em" xmlns="http://www.w3.org/2000/svg"><path d="M380.9 97.1C339 55.1 283.2 32 223.9 32c-122.4 0-222 99.6-222 222 0 39.1 10.2 77.3 29.6 111L0 480l117.7-30.9c32.4 17.7 68.9 27 106.1 27h.1c122.3 0 224.1-99.6 224.1-222 0-59.3-25.2-115-67.1-157zm-157 341.6c-33.2 0-65.7-8.9-94-25.7l-6.7-4-69.8 18.3L72 359.2l-4.4-7c-18.5-29.4-28.2-63.3-28.2-98.2 0-101.7 82.8-184.5 184.6-184.5 49.3 0 95.6 19.2 130.4 54.1 34.8 34.9 56.2 81.2 56.1 130.5 0 101.8-84.9 184.6-186.6 184.6zm101.2-138.2c-5.5-2.8-32.8-16.2-37.9-18-5.1-1.9-8.8-2.8-12.5 2.8-3.7 5.6-14.3 18-17.6 21.8-3.2 3.7-6.5 4.2-12 1.4-32.6-16.3-54-29.1-75.5-66-5.7-9.8 5.7-9.1 16.3-30.3 1.8-3.7.9-6.9-.5-9.7-1.4-2.8-12.5-30.1-17.1-41.2-4.5-10.8-9.1-9.3-12.5-9.5-3.2-.2-6.9-.2-10.6-.2-3.7 0-9.7 1.4-14.8 6.9-5.1 5.6-19.4 19-19.4 46.3 0 27.3 19.9 53.7 22.6 57.4 2.8 3.7 39.1 59.7 94.8 83.8 35.2 15.2 49 16.5 66.6 13.9 10.7-1.6 32.8-13.4 37.4-26.4 4.6-13 4.6-24.1 3.2-26.4-1.3-2.5-5-3.9-10.5-6.6z"></path></svg></a-->
            <a href="https://www.linkedin.com/company/texasembroideryranch"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M18.3732 8.59505C19.3986 9.47017 19.6951 10.8046 19.7996 12.0922C19.8173 12.3943 19.8142 12.6965 19.8135 12.999C19.8135 13.0735 19.8135 13.1481 19.8135 13.2227C19.8135 13.4237 19.8133 13.6246 19.8129 13.8256C19.8127 14.0362 19.8127 14.2467 19.8126 14.4573C19.8125 14.8554 19.8121 15.2535 19.8117 15.6516C19.8111 16.19 19.8109 16.7284 19.8106 17.2668C19.8102 18.1141 19.8094 18.9614 19.8086 19.8087C18.5891 19.8087 17.3697 19.8087 16.1133 19.8087C16.1117 19.324 16.1101 18.8393 16.1084 18.3399C16.1071 18.0319 16.1058 17.7238 16.1043 17.4158C16.102 16.9275 16.0998 16.4391 16.0984 15.9507C16.0974 15.595 16.096 15.2392 16.094 14.8835C16.093 14.6954 16.0922 14.5073 16.0919 14.3192C16.0916 14.1415 16.0908 13.9639 16.0895 13.7862C16.0891 13.7216 16.0889 13.657 16.089 13.5924C16.0896 12.8102 16.0166 11.9785 15.4446 11.3924C15.0672 11.0628 14.6031 10.9806 14.1117 11.0083C13.7681 11.0361 13.4483 11.0767 13.1484 11.2579C13.105 11.2819 13.0616 11.3058 13.0168 11.3304C12.4691 11.7617 12.2515 12.3595 12.1694 13.0367C12.1484 13.2901 12.1523 13.5448 12.1513 13.799C12.1509 13.8646 12.1505 13.9303 12.15 13.996C12.1489 14.1734 12.148 14.3509 12.1471 14.5283C12.1462 14.714 12.145 14.8998 12.1439 15.0855C12.1417 15.4369 12.1398 15.7883 12.1379 16.1396C12.1354 16.6147 12.1326 17.0898 12.1297 17.5648C12.1253 18.3128 12.1213 19.0608 12.1172 19.8087C10.8977 19.8087 9.67828 19.8087 8.42188 19.8087C8.42188 15.9235 8.42188 12.0382 8.42188 8.03528C9.58461 8.03528 10.7473 8.03528 11.9453 8.03528C11.9595 8.53157 11.9737 9.02786 11.9883 9.53918C12.0875 9.39739 12.1868 9.25559 12.2891 9.1095C12.9281 8.29156 13.9113 7.87434 14.9238 7.74792C16.125 7.64602 17.404 7.83751 18.3732 8.59505Z" fill="white"></path><path d="M2.44922 8.03516C3.66867 8.03516 4.88812 8.03516 6.14453 8.03516C6.14453 11.9204 6.14453 15.8056 6.14453 19.8086C4.92508 19.8086 3.70562 19.8086 2.44922 19.8086C2.44922 15.9234 2.44922 12.0381 2.44922 8.03516Z" fill="white"></path><path d="M5.4893 2.49767C5.98068 2.83361 6.28199 3.29399 6.42371 3.86813C6.52843 4.48757 6.40367 5.06458 6.05864 5.58605C5.73536 6.02914 5.26964 6.34501 4.72661 6.44542C4.26692 6.48991 3.81097 6.49371 3.39458 6.27355C3.33933 6.24546 3.33933 6.24546 3.28296 6.21681C2.77066 5.93401 2.42033 5.49353 2.23711 4.93614C2.09383 4.31737 2.17461 3.72245 2.48149 3.16905C2.78536 2.69502 3.22445 2.38584 3.76132 2.22139C4.36591 2.10006 4.95544 2.18532 5.4893 2.49767Z" fill="white"></path></svg></a>
            <a href="https://www.youtube.com/@texasembroideryranch"><svg width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14.4336 4.39569e-05C14.4988 5.10463e-05 14.5639 5.81358e-05 14.6311 6.54404e-05C21.8563 0.00105626 21.8563 0.00105627 24.9692 0.422421C25.0333 0.431046 25.0973 0.439672 25.1633 0.448559C26.2417 0.611667 27.1767 1.0578 27.8516 1.92065C28.8047 3.26566 28.8328 5.18433 28.9286 6.76919C28.9311 6.80737 28.9336 6.84555 28.9363 6.88489C29.0021 7.88538 29.0006 8.88672 28.9998 9.88885C28.9998 9.93296 28.9998 9.97707 28.9997 10.0225C28.9991 11.3321 28.9953 12.6372 28.8686 13.9422C28.8645 13.9848 28.8604 14.0274 28.8562 14.0712C28.5122 17.6466 28.5122 17.6466 27.3088 18.6847C25.6721 19.9528 23.1587 19.7897 21.1749 19.8777C21.1243 19.88 21.0737 19.8823 21.0216 19.8846C18.9216 19.9775 16.8204 20.0011 14.7185 20C14.6286 20 14.6286 20 14.5369 19.9999C3.22683 19.9983 3.22683 19.9983 1.57493 18.3917C-0.559068 16.0976 0.0520562 10.7855 0.174732 7.87689C0.405402 2.67563 0.405402 2.67563 1.78607 1.37856C2.34389 0.914228 2.97452 0.604981 3.69168 0.481702C3.74758 0.472006 3.80348 0.462311 3.86107 0.452322C5.20091 0.23598 6.57044 0.184061 7.92469 0.122311C7.99923 0.118878 7.99923 0.118878 8.07527 0.115375C8.46741 0.0977122 8.85964 0.0834484 9.25196 0.0704401C9.32921 0.0678652 9.40645 0.0652903 9.48603 0.0626374C11.1351 0.00892037 12.7837 -0.0007546 14.4336 4.39569e-05ZM11.7115 5.82069C11.7115 8.57904 11.7115 11.3374 11.7115 14.1793C11.9424 14.088 12.1434 13.9941 12.3592 13.8755C12.4261 13.8388 12.493 13.8021 12.5618 13.7643C12.6333 13.7248 12.7049 13.6853 12.7764 13.6458C12.8128 13.6257 12.8493 13.6056 12.8869 13.5849C13.3897 13.3078 13.8889 13.0254 14.3839 12.7348C15.4776 12.0934 16.5864 11.4764 17.6911 10.8535C18.0026 10.6778 18.314 10.5019 18.6253 10.326C18.7281 10.268 18.8309 10.21 18.9337 10.1519C18.9758 10.1281 19.0179 10.1044 19.0613 10.0799C19.1053 10.055 19.1053 10.055 19.1502 10.0296C18.9745 9.89404 18.7939 9.78068 18.6005 9.67118C18.5389 9.63622 18.4774 9.60126 18.414 9.56524C18.3476 9.52775 18.2813 9.49027 18.2129 9.45165C18.1429 9.41196 18.0729 9.37224 18.0029 9.33251C17.8576 9.25001 17.7122 9.16758 17.5668 9.0852C17.2344 8.8968 16.9026 8.70733 16.5707 8.51798C16.4406 8.4438 16.3104 8.36962 16.1803 8.29544C15.9218 8.14811 15.6635 8.00067 15.4051 7.85315C14.6488 7.42141 13.8914 6.99152 13.1326 6.56415C13.0344 6.50884 13.0344 6.50884 12.9343 6.45241C12.8711 6.4168 12.8078 6.38119 12.7427 6.3445C12.4845 6.19761 12.2286 6.04705 11.973 5.89584C11.8407 5.81134 11.8407 5.81134 11.7115 5.82069Z" fill="white"></path></svg></a>
            <a href="https://www.facebook.com/TexasEmbroideryRanch"><svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8.14971 3.29509H9.96139V0.139742C9.64884 0.0967442 8.5739 0 7.32201 0C4.70992 0 2.92057 1.643 2.92057 4.66274V7.44186H0.0380859V10.9693H2.92057V19.845H6.45462V10.9701H9.22052L9.65958 7.44269H6.4538V5.01251C6.45462 3.99297 6.72915 3.29509 8.14971 3.29509Z" fill="white"></path></svg></a>
            <a href="https://x.com/TxEmbroidery"><svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M22 2.11613C21.1819 2.475 20.3101 2.71288 19.4013 2.82838C20.3363 2.27013 21.0499 1.39287 21.3854 0.3355C20.5136 0.85525 19.5511 1.22238 18.5254 1.42725C17.6976 0.545875 16.5179 0 15.2309 0C12.7339 0 10.7236 2.02675 10.7236 4.51137C10.7236 4.86888 10.7539 5.21263 10.8281 5.53988C7.0785 5.357 3.76062 3.55988 1.53175 0.82225C1.14262 1.49738 0.914375 2.27012 0.914375 3.102C0.914375 4.664 1.71875 6.04862 2.91775 6.85025C2.19312 6.8365 1.48225 6.62613 0.88 6.29475C0.88 6.3085 0.88 6.32638 0.88 6.34425C0.88 8.536 2.44338 10.3565 4.4935 10.7759C4.12638 10.8763 3.72625 10.9244 3.311 10.9244C3.02225 10.9244 2.73075 10.9079 2.45712 10.8474C3.0415 12.6335 4.69975 13.9466 6.6715 13.9893C5.137 15.1896 3.18863 15.9129 1.07938 15.9129C0.7095 15.9129 0.35475 15.8964 0 15.851C1.99787 17.1394 4.36563 17.875 6.919 17.875C15.2185 17.875 19.756 11 19.756 5.04075C19.756 4.84137 19.7491 4.64887 19.7395 4.45775C20.6346 3.8225 21.3867 3.02913 22 2.11613Z" fill="white"></path></svg></a>
            <a href="https://www.instagram.com/texasembroideryranch"><svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6.875 0H15.125C18.9214 0 22 3.07862 22 6.875V15.125C22 18.9214 18.9214 22 15.125 22H6.875C3.07862 22 0 18.9214 0 15.125V6.875C0 3.07862 3.07862 0 6.875 0ZM15.125 19.9375C17.7787 19.9375 19.9375 17.7787 19.9375 15.125V6.875C19.9375 4.22125 17.7787 2.0625 15.125 2.0625H6.875C4.22125 2.0625 2.0625 4.22125 2.0625 6.875V15.125C2.0625 17.7787 4.22125 19.9375 6.875 19.9375H15.125Z" fill="white"></path><path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 11C5.5 7.96263 7.96263 5.5 11 5.5C14.0374 5.5 16.5 7.96263 16.5 11C16.5 14.0374 14.0374 16.5 11 16.5C7.96263 16.5 5.5 14.0374 5.5 11ZM7.5625 11C7.5625 12.8948 9.10525 14.4375 11 14.4375C12.8948 14.4375 14.4375 12.8948 14.4375 11C14.4375 9.10388 12.8948 7.5625 11 7.5625C9.10525 7.5625 7.5625 9.10388 7.5625 11Z" fill="white"></path><circle cx="16.9126" cy="5.08761" r="0.732875" fill="white"></circle></svg></a>
        </div>
      </div>

        <div class="mfrow baseline">
          <div>
            <img src="/images/Made-in-Texas-white-50h.png" alt="Made in Texas" />
          </div>
          <div class="center-col">

          </div>
          <div>
            <a href="http://www.a1webconsulting.com/" target="_blank">
            <img src="/images/a1_period_w.svg" alt="another A1 website" /></a>
          </div>
        </div>
      </footer>
    </div>
  </div>
</body>
</html>