<div class="megacontainer prose" style="margin: 0; padding: 1em 4em 2em; background-color: #fff;">

<h1>Embroidery &amp; Imprinting Services</h1>

<h2>Apparel Services</h2>
	<ul class="list_of_links">
	  <li><a href="/coming-soon">Embroidery</a>
			<ul>
				<li><a href="/colors">Colors</a></li>
				<li><a href="/fonts">Fonts</a></li>
				<li><a href="/coming-soon">Caps</a></li>
				<li><a href="/monograms">Monograms</a></li>
				<li><a href="/coming-soon">Scrubs</a></li>
			</ul>
		</li>
		<li><a href="/coming-soon">DTF Imprinting</a></li>
		<li><a href="/leather-patches">Laser-Etched Leather Patches</a></li>
	</ul>
	<h2>Apparel Catalogs</h2>
	<ul class="list_of_links">
		<li><a href="https://www.companycasuals.com/texasembroideryranch" target="_blank">Apparel Catalog</a></li>
		<li><a href="https://www.sportswearcollection.com/texasembroideryranch" target="_blank">Caps &amp; Sportsware Catalog</a></li>
	</ul>
	<!--
  <h2><a href="/coming-soon">Printing Services</a></h2>
	<ul class="list_of_links">
		<li><a href="/coming-soon">Banners</a></li>
		<li><a href="/coming-soon">Signs</a></li>
		<li><a href="/coming-soon">Decals & Stickers</a></li>
		<li><a href="/coming-soon">Promotional Products (ESP link)</a></li>
	</ul>
	-->
  <h2>Artwork</h2>
  <ul class="list_of_links">
		<li><a href="/artwork-specs.html">Artwork Specifications</a></li>
		<li>
			<!-- <a href="/coming-soon">Upload File</a> -->
			<script>
				d = 'texasembroideryranch' + '.com';
				e = 'or' + 'ders';
				t = 'Upload File';
				document.write('<a href=\"m' + 'ailto:' + e + '@' + d + '\">');
				document.write(t + '</a>');
			</script>		
		</li>
	</ul>
</div>
