<div class="megacontainer prose">

<h1>Terms of Service</h1>

This is a simplified version of our terms. It does not supercede our actual Terms and Conditions which is chock full of big, legal words that appears on our website.

Our process is like this: we will help you pick the garments and the decoration style. You’ll tell us how many you need. We can create your artwork for fee or you can provide us artwork, but it has to be print-ready digital files. All the techno-mumbo-jumbo is on our website.

Then, we&rsquo;ll send you some email from the Ranch labeled Quote, Artwork Approval, and Payment Request. We can&rsquo;t start our job until you do yours which includes paying.

The faster you respond to these approvals, the faster we can get started. Review your Art Approval carefully. Your Artwork Approval will have everything you will need to know. You get one change for free! Once your art and quotation are approved, then you’ll pay us – then we’ll get rolling, printing, stitching, or whatever verb is needed.

Once your order is ready, you can pick-up your fancied-up swag and arts, or we can ship your products to you for another small fee plus the really big fee shippers charge. If you are nearby, we are happy to deliver.

<h2>The legal jargon says:</h2>

Using our services means you agree to these terms. We will protect your info. We are not liable for mistakes you made, copyright claims, shipping problems, and some other uncommon issues out of our hands. Payment is due at time of service. We own the art we create for you, unless you purchase it for a small fee. No refunds or exchanges, but still contact us if something is wrong. You can break up with us and we can break up with you, but we really hope it doesn't come to that. We might change these terms if those "legal beagles" discover something is wrong with them.

</div>