<div class="megacontainer prose" style="margin: 0; padding: 1em 4em 2em; background-color: #fff;">

<h1>Thank You!</h1>

<p>We&rsquo;ll get back to you as soon as possible.</p>

<a href="/">Back to Home</a>

</div>
