body {
    background-color: #19324a;
}

.desert {
    min-height: 100vh;
    background-image: url(/images/vecteezy_wild-west-modern-minimal-flat-background_.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    backgroundattachment: fixed;
}

.main {
    margin: 0 4rem;
}

.main main {
    background-color: white;
    padding: 2rem;
    width: 100%;
}

.megacontainer.prose {
    margin: 0;
    padding: 1em 4em 2em;
    background-color: #f7f0e6;
    color: #27354b;
}

form .errors {
    color: red;
    border: 1px solid red;
    background-color: #f7f0e6;
    padding: 1em;
    margin-bottom: 1em;
}

form .errors ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form .errors li {
    padding-left: 1em;
    margin-bottom: .5em;
}