service: rodeo
image: scarver2/rodeo

builder:
  arch: amd64

servers:
  web:
    hosts:
      - texasembroideryranch.com
    proxy: false
    options:
      publish:
        - "4001:3000"

ssh:
  user: deploy

registry:
  server: ghcr.io
  username: scarver2
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    RACK_ENV: production
    PORT: "3000"
  secret:
    - RODEO_SECRET_KEY_BASE

hooks:
  before_deploy:
    - docker rm -f $(docker ps -q --filter label=service=rodeo) || true

retain_containers: 5
