service: rodeo
image: ghcr.io/scarver2/rodeo

servers:
  web:
    - texasembroideryranch.com

ssh:
  user: deploy

registry:
  server: ghcr.io
  username: scarver2
  password:
    - KAMAL_REGISTRY_PASSWORD

env:
  clear:
    RACK_ENV: production
    PORT: "3000"
  secret:
    - RODEO_SECRET_KEY_BASE

# Host:4001 -> Container:3000
ports:
  - "4001:3000"

healthcheck:
  path: /healthz
  port: 3000
  interval: 5s

deploy:
  retain_containers: 5
